#movie-details-container {
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.8);
    overflow: auto;
    border-radius: 10px;
}
#movie-title-detPage {
    width:100%;
    text-align: center;
    color: antiquewhite;
    padding: 10px 0;
}
#movie-details-poster-container {
    width: 40%;
    padding-top: 60%;
    border: 1px solid rgba(255,165,0, 0.8);
    float: left;
    border-radius: 4px;
    margin-bottom: 10px;
}
#all-movie-details {
    width: 45%;
    float:left;
    margin: 0 7.5%;
    display:flex;
    flex-direction: column;
    height:500px;
    justify-content: center;
    
}
.div-container-for-parags-and-spans {
    display:flex;
    align-content: stretch;
    width:100%;
}
.det-parags {
    color: dodgerblue;
    width: 50%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.det-spans {
    color:orangered;
    width: 50%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
/*
.det-parags:nth-child(2n-1) {
    background-color: rgba(225, 225, 225, 0.5);;
}
.det-spans:nth-child(2n-1) {
    background-color: rgba(225, 225, 225, 0.5);;
}*/
