footer {
    height: 30px;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkGSaNgV5NYObLopELCc-RNTIYCQtshxCaCJd3OaO36BGtgw35')
}
.copyright {
    width: 65%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    margin: auto;
    color: white;
    background-color: black;
}
.facebook {
    width: 20px;
    height: 20px;
    margin: auto 0.4em auto 0.8em;
    background-color:white;
    border-radius:20px;
    padding:1px;
}
.twitter {
    width: 20px;
    height: 20px;
    margin: auto 0.4em;
    background-color: white;
    border-radius:20px;
    padding:1px;
}
.twitter:hover{
    border-radius:20px;
    background-color: white;
    padding: 3.1px;
}
.facebook:hover{
    border-radius:20px;
    background-color: white;
    padding: 3.1px;
}
#h2-addBtn-container {
    display:flex;
}
@media(max-width: 576px) {
    
}
@media(min-width:576px) {
    
}
@media(min-width:768px) {
    
}
@media(min-width:992px) {
    
}